* {
  background-color: #1a1a1d;
}
ul {
  list-style-type: none;
}
button {
  color: #a64d79;
}
.elo {
  display: flex;
  flex: content;
  width: 75%;
  text-align: center;
  font-size: 48px;
  border: 2px;
  border-radius: 5%;
  border-color: #563a9c;
}
h1,
h2,
h3,
h4 {
  color: #a64d79;
}
img {
  display: flex;
  flex-direction: row;
  width: 480px;
  height: 480px;
  margin: auto;
}
.elo {
  display: block;
  margin: auto;
}
.autism {
  display: flex;
  font-size: 28px;
  justify-content: center;
  align-items: center;
}
.search {
  display: flex;
}
input {
  background-color: white;
}
